<html>
    <head>
        <style type="text/css" media="screen">
            @import url("/static/index.css");
        </style>
    </head>
    <h2>ユーザー登録</h2>
    <form method="POST" action="/regist">
        <div>
            <div>
                <span>LDAP情報</span>
            </div>
            <div>
                <span>LDAP username</span>
                <input type="text" name="ldap_username">
                <span class="error">{{ .ldap_username_error }}</span>
            </div>
            <div>
                <span>LDAP password</span>
                <input type="password" name="ldap_password">
                <span class="error">{{ .ldap_password_error }}</span>
            </div>
        </div>

        <div>
            <div>
                <span>登録したいmisskeyの情報</span>
            </div>
            <div>
                <span>username</span>
                <input type="text" name="misskey_username">
                <span class="error">{{ .misskey_username_error }}</span>
            </div>
            <div>
                <span>password</span>
                <input type="password" name="misskey_password">
                <span class="error">{{ .misskey_password_error }}</span>
            </div>
        </div>

        <button>登録する</button>
    </form>
</html>